/* * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

:root {
    --azul: #3380ca;
    --azul-claro: #4292DC;
    --azul-escuro: #0060BB;
    --branco: rgb(248, 252, 255);
    --brancodeverdade: rgb(255, 255, 255);
    --preto: rgb(0, 0, 0);
    --cor-complementar: rgb(96, 209, 231);
    --escuro: rgb(36, 36, 36);
    --azul-modoescuro: #73A8FE;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--branco);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 200px;
    padding: 10px 0;
    z-index: 1000;
    list-style: none;
}

.dropdown-menu.show {
    display: block;
}

.header-end{
    margin-bottom: 15px;
}

.menu-item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.sair{
    background-color: #00010000;
    border: #00010000;
}
.sair:hover{
    background-color: #00010000;
    border: #00010000;
    color: black;
}
header {
    background-color: #0060BB;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.header-left img {
    width: 50px;
    height: auto;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    padding: 2px 20px;
    border-radius: 25px;
    width: 600px;
}

.search-container i {
    color: black;
    margin-right: 8px;
    font-size: 1.2rem;
}

.search-box {
    border: none;
    outline: none;
    font-size: 1.1rem;
    width: 100%;
    padding: 5px;
}
.btn-catalogo {
    background-color: #3380ca;
}

.btn-catalogo:hover {
    color: rgb(178, 178, 178) !important;
    background-color: #4086c6;
}


.switch-container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    left: -2px;
    bottom: -2px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #000100;
}

input:checked + .slider:before {
    transform: translateX(22px);
    background-color: #1C82E3;
}


.fa-circle-user{
    padding-right: 2px;
    margin-left: -1px;
}

.fa-user {
    padding-right: 2px;
    padding-left: 1px;
}

.fa-file-export {
    padding-right: 2px;
    padding-left: 1px;
}

.fa-cash-register {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-wallet {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-book {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-sync-alt {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-sign-out-alt {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-bookmark {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-dollar-sign {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-clock {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-pix {
    padding-right: 7px;
}

.fa-thumbtack {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-user-pen {
    padding-right: 7px;
    padding-left: 1px;
}


.submenu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.submenu.show {
    display: flex; /
}

.submenu-item {
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
    transition: background 0.3s;
 
}

.submenu-item:hover {
    background-color: #f0f0f0;

}


.menu-container {
    position: relative;
    display: inline-block;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 32px;
    cursor: pointer;
}

.menu-icon div {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--branco);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 200px;
    padding: 10px 0;
    z-index: 1000;
    list-style: none;
}

.dropdown-menu .menu-item:hover {
    background-color: #f0f0f0;
}


.submenu {
    display: none;
    padding-left: 20px;
    list-style: none;
    position: relative;
    font-size: 15px;
}

.submenu.show {
    display: flex;

    flex-direction: column;

    margin-top: 5px;
}

.submenu-item {
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
    transition: background 0.3s;
}

.submenu-item:hover {
    background-color: #f0f0f0;
}


.menu-icon-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.sair{
    background-color: #00010000;
    border: #00010000;
}
.sair:hover{
    background-color: #00010000;
    border: #00010000;
    color: black;
}
body {
    background-color: var(--brancodeverdade);
}

.logo-header {
    height: 100px;
    width: auto;
    padding: 20px;
}

section {
    display: flex;
}

.titulo {
    color: var(--azul-escuro);
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    display: block;
}

.formulario {
    flex-wrap: wrap;
    background-color: var(--brancodeverdade);
    border: 4px solid #007bff;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.cadastro {
    display: flex;
}

.coisa {
    text-align: left;
    color: var(--azul);
    font-weight: bold;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 3px;
    display: block;
}

.inserir {  
    border-radius: 5px;
    padding: 7px; 
    margin: 10px 10px 0px 0px;
    border: 3px solid var(--azul-claro);
    background-color: var(--branco);
    font-weight: bold;
}

.data{
    padding: 7px;
    width: 228px;
    margin: 10px 10px 0px 0px;
    border: 3px solid var(--azul);
    background-color: var(--azul-claro);
    font-weight: bold;
    border-radius: 5px;

}


input::placeholder {
    color: var(--preto);
    opacity: 0.5;
}

.botao-cadastro {
    padding: 7px;
    padding-left: 192px;
    padding-right: 192px;
    color: var(--branco);
    margin-top: 30px;
    background-color: var(--azul);
    border: 3px solid var(--azul);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}

.botao-cadastro:hover {
    background-color: var(--azul-escuro);
    border: 3px solid var(--azul-escuro);
    transform: scale(1.05);
    font-size: large;
    transition: 0.2s;
}

.texto {
    padding-top: 20px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--azul);
    transition: 0.2s;
}

.link:hover {
    color: var(--azul-escuro);
    transition: 0.2s;
}

.livro-1 {
    height: 400px;
    width: auto;
    margin-top: 240px;
}

.final {
    text-align: center;
}

.tudo {
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}


.separacao1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--azul-escuro);
    padding: 5px;
    color: var(--branco);
    font-size: x-large;
    font-weight: bold;
}

.separacao1 p {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 5px;
}

.redes i{
    color: var(--branco);
    font-size: 40px;
    margin: 10px;
    transition: 0.3s;
}

.redes a {
    text-decoration: none;
}

.redes i:hover {
    color: #06005c;
}

.inter {
    background-color: var(--escuro);
}

.rodape-inter {
    background-color: var(--escuro);
    color: var(--branco);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.rodape2-inter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_rodape {
    display: flex;
    justify-content: center;
    height: 75px;
}

.linha {
    background-color: var(--azul-escuro);
    padding: 3px;
    border-radius: 5px;
}

.display {
    display: flex;
}

.text {
    font-size: large;
    margin-top: 10px;
}

.icons {
    margin-top: 17px;
    margin-right: 5px;
}
body img{
    width: 110px;
    height: 80px;
}

.informacoes {
    padding: 10px;
    font-size: large;
    font-weight: bold;
    margin-bottom: -7px;
}

.localizacao {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.as {
    display: flex;
    justify-content: space-evenly;
}

.as a {
    color: rgb(194, 255, 235);
    text-decoration: none;
    padding-bottom: 30px;
}

.bemvindo {
    background-color: var(--azul-escuro);
    padding: 20px;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 73px;
    margin-right: 73px;
    border-radius: 7px;
}

.nomeUsuario {
    color: rgb(194, 255, 235);
    margin-left: 5px;
}

.span {
    color: var(--branco);
}

footer{
    margin-top: 50px;
}

@media (max-width: 480px) {

    .logo_rodape{
        display: none;
    }

    .rodape-inter {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .as {
        font-size: 11px;
    }

    .linha {
        padding: 2px;
    }

    .search-container{
        width: 200px;
    }

    .menu-icon {
        width: 25px;
    }

    .localizacao{
        width: 1%;
    }

    .rodape-inter {
        font-size: 14px;
    }

    .rodape2-inter {
        align-items: center;
    }

    .localizacao {
        font-size: 0px;
        text-align: center;
        flex-direction: column;
    }
    .separacao1 p{
        margin-top: 10px;
        font-size: 15px;
    }

    .redes i {
        font-size: 24px;
        margin: 5px;
    }
}

@media (max-width: 380px){

    .logo_rodape{
        display: none;
    }

    .rodape-inter {
        justify-content: center;
    }

    .separacao1 {
        flex-direction: column;
        align-items: center;
    }

    .separacao1 p {
        margin: 0px;
    }

    .informacoes {
        text-align: center;
    }

    .display {
        justify-content: center;
    }
    .nomeUsuario{
        font-size: 15px
    }
    .span{
        font-size: 15px
    }
}


@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2px 20px;
    }

    .header-left img {
        width: 40px;
    }

    .header-center {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin: 0 10px;
    }

    .search-container {
        width: 150px;
        padding: 5px 10px;
        border-radius: 20px;
    }

    .search-box {
        font-size: 14px;
    }

    .header-right {
        display: flex;
        align-items: center;
    }

    .switch-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .menu-container {
        margin-left: 10px;
    }

    .menu-icon {
        width: 30px;
        height: 24px;
    }

    .menu-icon div {
        height: 4px;
        background-color: #fff;
    }

    .imagem {
        display: none;
    }
}

@media (max-width: 480px) {
    .search-container {
        width: 120px;
    }

    .switch-container {
        font-size: 10px;
    }

    .menu-icon {
        width: 25px;
    }
}

@media (max-width: 800px) {
    .livro-1 {
        display: none;
    }

    .inserir {
        width: 300px;
    }

    .formulario {
        margin-top: -20px;
        display: flex;
    }

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .cadastro {
        display: block;
    }

    .tudo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario {
        display: flex;
        flex-direction: column;
    }
    .data{
        width: 300px;
    }
}

@media (max-width: 500px) {

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .logo-header {
        width: 100px;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .titulo {
        font-size: 40px;
    }

    .tudo {
        width: 100%;
    }

    .formulario {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .inserir {
        width: 300px;
    }

    .coisa {
        font-size: 20px;
    }
}

@media (max-width: 400px) {

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .logo-header {
        width: 100px;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .formulario {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 7px;
    }

}

@media (max-width: 350px) {

    .formulario {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 7px;
        margin-top: 5px;
    }

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .logo-header {
        width: 100px;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .inserir {
        width: 250px;
    }

    input::placeholder {

        color: var(--preto);
        opacity: 0.5;
        font-size: 15px;
    }

    .coisa {
        font-size: 18px;
    }
    .data{
        width: 252px;

    }

}
 */