* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
    color:black;
}

:root {
    --azul: rgba(51, 128, 202, 1);
    --azul-claro: rgba(238, 243, 255, 1);
    --azul-escuro: rgba(12, 140, 225, 0.724);
    --preto: black;
    --branco: white;
}

.img_perfil{
    margin-top: 20px;
}

.img_perfil img{
    height: 150px;
    width: 150px;
}

.btn-change-img {
    background-color: #0060BB;
    color: white;
    border: 4px solid #0060BB;
    padding: 10px; 
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}

.btn-change-img:hover {
    color: #4292dc;
    background-color: white;
    border: 4px solid #4292dc;
    cursor: pointer;
    padding: 10px;
}

.sair{
    background-color: #00010000;
    border: #00010000;
}
.sair:hover{
    background-color: #00010000;
    border: #00010000;
    color: black;
}
body {
    background-color: var(--branco);
}

.logo-header {
    height: 100px;
    width: auto;
    padding: 20px;
}

header {
    width: 100%;
}

section {
    display: flex;
}

.titulo {
    color: var(--azul);
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    display: block;
}

.formulario {
    flex-wrap: wrap;
    background-color: var(--branco);
    border: 4px solid var(--azul-claro);
    padding: 30px;
    border-radius: 10px;
    margin-top: -100px;
}

.cadastro {
    display: flex;
    /* flex-direction: column; */
}

.coisa {
    text-align: left;
    color: var(--azul);
    font-weight: bold;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 3px;
    display: block;
}


.inserir {  
    border-radius: 5px;
    padding: 7px; 
    margin: 10px 10px 0px 0px;
    border: 2px solid var(--azul);
    background-color: var(--azul-claro);
    font-weight: bold;
}

.data{
    padding: 7px;
    width: 228px;
    margin: 10px 10px 0px 0px;
    border: 2px solid var(--azul);
    background-color: var(--azul-claro);
    font-weight: bold;
    border-radius: 5px;

}


input::placeholder {
    font-weight: bold;
    color: var(--preto);
    opacity: 0.5;
}

.visivelbtn {
    padding-left: 9.5px;
    padding-right: 9.5px;
    padding-bottom: 9.5px;
    padding-top: 9px;
    background-color: var(--azul-claro);
    border-radius: 0px 5px 5px 0px;
    border-right: 2px solid var(--azul);
    border-bottom: 2px solid var(--azul);
    border-top: 2px solid var(--azul);
    margin-left: -56.5px;
}

.botao-cadastro {
  --color: #3380ca;
  background-color: white;
  font-family: inherit;
  display: inline-block;
  line-height: 2.5em;
  margin-top: 20px;
  width: 29.5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--azul);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  font-weight: bold;
  border-radius: 6px;
  color: var(--azul);
}

.botao-cadastro:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 110px;
  width: 600px;
  border-radius: 50%;
}

.botao-cadastro:hover {
  color: white;
}

.botao-cadastro:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.botao-cadastro:hover:before {
  top: -30px;
  left: -30px;
}

.botao-cadastro:active:before {
  background: #0060BB;
  transition: background 0s;
}

.texto {
    padding-top: 20px;
    font-weight: bold;
}

.texto {
    padding-top: 20px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--azul);
    transition: 0.2s;
}

.link:hover {
    color: var(--azul-escuro);
    transition: 0.2s;
}

.livro-1 {
    height: 400px;
    width: auto;
    margin-top: 100px;
}

.final {
    text-align: center;
}

.tudo {
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.btn-change-img{
    padding: 0px;
    height: 43px;
    width: 230px;
    padding-left: 40px;
    padding-right: 45px;
    color: var(--azul);
    margin-top: 10px;
    background-color: var(--branco);
    border: 3px solid var(--azul);
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-left: -1px;
}
.btn-change-img:hover{
    padding: 0px;
    height: 43px;
    width: 230px;
    padding-left: 40px;
    padding-right: 45px;
    color: var(--branco);
    margin-top: 10px;
    background-color: var(--azul);
    border: 3px solid var(--azul);
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-left: -1px;
}

.swal2-confirm {
    background-color: var(--azul) !important;
}

#logoImage {
    width: 55px;
    height: auto;
}

@media (max-width: 800px) {
    .livro-1 {
        display: none;
    }

    .inserir {
        width: 470px;
    }

    .formulario {
        margin-top: -20px;
        display: flex;
    }

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .cadastro {
        display: block;
    }

    .tudo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario {
        display: flex;
        flex-direction: column;
    }
    .data{
        width: 470px;
    }
}

@media (max-width: 500px) {

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .logo-header {
        width: 100px;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .titulo {
        font-size: 40px;
    }

    .tudo {
        width: 100%;
    }

    .formulario {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .botao-cadastro {
        width: 18.8rem;
    }

    .inserir {
        width: 300px;
    }

    .data {
        width: 300px;
    }

    .coisa {
        font-size: 20px;
    }
}

@media (max-width: 400px) {

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .logo-header {
        width: 100px;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .formulario {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 7px;
    }

}

@media (max-width: 350px) {

    .botao-cadastro {
        width: 15.7rem;
    }

    .formulario {
        width: 95%;
        justify-content: center;
        align-items: center;
        padding: 7px;
        margin-top: 5px;
    }

    header {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .logo-header {
        width: 100px;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .inserir {
        width: 250px;
    }

    input::placeholder {
        font-weight: bold;
        color: var(--preto);
        opacity: 0.5;
        font-size: 15px;
    }

    .coisa {
        font-size: 18px;
    }

    .data{
        width: 250px;
    }

}