* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.sair {
    background-color: #00010000;
    border: #00010000;
}

.sair:hover {
    background-color: #00010000;
    border: #00010000;
    color: black;
}

:root {
    --azul: #3380ca;
    --azul-claro: #4292DC;
    --azul-escuro: #0060BB;
    --branco: rgb(248, 252, 255);
    --preto: rgb(0, 0, 0);
    --cor-complementar: rgb(96, 209, 231);
    --escuro: rgb(36, 36, 36);
    --azul-modoescuro: #73A8FE;
    --vermelho-claro: rgb(0, 90, 186);
    --vermelho-escuro: rgb(0, 123, 255);
}

.item img {
    cursor: pointer;
}

.imagemLivro {
    height: 150px;
    border: 3px solid var(--escuro);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantidade {
    gap: 10px;
}

/* Header */
header {
    background-color: #0060BB;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

/* Logo */
.header-left img {
    width: 50px;
    height: auto;
}

/* Barra de pesquisa */
.search-container {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    padding: 2px 20px;
    border-radius: 25px;
    width: 600px;
}

.search-container i {
    color: black;
    margin-right: 8px;
    font-size: 1.2rem;
}

.search-box {
    border: none;
    outline: none;
    font-size: 1.1rem;
    width: 100%;
    padding: 5px;
    background-color: white;
}


.btn-catalogo:hover {
    color: rgb(178, 178, 178) !important;
    background-color: #4086c6;
}

/* Dark Mode */
.switch-container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    left: -2px;
    bottom: -2px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #000100;
}

input:checked+.slider:before {
    transform: translateX(22px);
    background-color: #1C82E3;
}

/* Ícone do menu */
.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Menu dropdown */
.menu-container {
    position: relative;
    display: inline-block;
}

.header-end {
    margin-bottom: 15px;
}

.swal2-confirm {
    background-color: var(--azul);
}

.menu-icon {
    cursor: pointer;
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon div {
    width: 100%;
    height: 4px;
    background-color: var(--branco);
    border-radius: 5px;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--branco);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 200px;
    padding: 10px 0;
    z-index: 1000;
    list-style: none;
}

.dropdown-menu.show {
    display: block;
}

.paginacao {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    align-items: center;
}

.paginaAtual {
    font-size: x-large;
    padding: 0px 7px;
    padding-top: 9px;
    font-weight: bold;
}

.btn {
    font-weight: bold;
    font-size: 25px;
    padding: 2px 6px;
}

.btn:hover {
    background-color: #ddd;
}

/* Estilo dos itens do menu */
.menu-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    color: #333;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 80px;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    padding-left: 0;
    width: auto;
}

.wrapper .icon svg {
    width: 28px;
    height: 28px;
    display: block;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    white-space: nowrap;
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

/* Hover colors */
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
    background: #25d366;
    color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #0077b5;
    color: #fff;
}

.facebook,
.twitter,
.instagram,
.whatsapp,
.linkedin {
    color: black;
}

/* SÍMBOLOS DAS OPÇÕES */
.fa-circle-user {
    padding-right: 2px;
    margin-left: -1px;
}

.fa-user {
    padding-right: 2px;
    padding-left: 1px;
}

.fa-file-export {
    padding-right: 2px;
    padding-left: 1px;
}

.fa-cash-register {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-wallet {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-book {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-sync-alt {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-sign-out-alt {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-bookmark {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-dollar-sign {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-clock {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-pix {
    padding-right: 7px;
}

.fa-thumbtack {
    padding-right: 7px;
    padding-left: 1px;
}

.fa-user-pen {
    padding-right: 7px;
    padding-left: 1px;
}

/* SUB-MODAIS DOS RELATÓRIOS */
/* Estilo do submenu */
.submenu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    /* ← isso força tudo a ficar empilhado para baixo */
    align-items: flex-start;
    /* opcional, para alinhar à esquerda */
}

.submenu.show {
    display: flex;
    /* ou display: block */
}

/* Estilo dos itens do submenu */
.submenu-item {
    padding: 5px 10px;
    /* Espaçamento para os itens do submenu */
    color: #333;
    /* Cor do texto */
    cursor: pointer;
    /* Cursor de ponteiro */
    transition: background 0.3s;
    /* Transição suave para o fundo */
}

.submenu-item:hover {
    background-color: #f0f0f0;
    /* Cor de fundo ao passar o mouse */
}


/* Imagem do perfil no menu */
.menu-icon-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

h1 {
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--azul-escuro);
    text-align: center;
}

.texto {
    font-size: medium;
    max-width: 280px;
}

.pai1 {
    background-color: var(--branco);
    border: 4px solid #007bff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 50px;
}

.display-pai {
    margin-top: -15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filho2 {
    padding-right: 20px;
}

.foto-livro {
    width: 237px;
    height: 300px;
    margin-right: 15px;
}

.quantidade {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.emprestado {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 100px;
    padding-right: 100px;
    color: var(--vermelho-escuro);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--vermelho-claro);
    border: 3px solid var(--vermelho-escuro);
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition: 0.2s;
}

.botao-esgotado {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 100px;
    padding-right: 100px;
    color: var(--vermelho-escuro);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--vermelho-claro);
    border: 3px solid var(--vermelho-escuro);
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition: 0.2s;
}

.botao-reserva {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 66px;
    padding-right: 66px;
    color: var(--branco);
    margin-top: -26px;
    margin-bottom: -26px;
    background-color: var(--vermelho-claro);
    border: 3px solid var(--vermelho-claro);
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition: 0.2s;
}

.botao-reserva:hover {
    background-color: var(--vermelho-escuro);
    border: 3px solid var(--vermelho-escuro);
    transform: scale(1.05);
    transition: 0.2s;
}

.botao-voltar {
    text-align: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 76px;
    padding-right: 76px;
    color: var(--branco);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--azul-claro);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
    transition: 0.5s;
}

.botao-voltar:hover {
    background-color: var(--azul-escuro);
    color: var(--branco);
    transition: 0.5s;
    font-size: x-large;
}

.voltar {
    align-items: center;
}

.pai2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* RODAPÉ */
.rodape-img-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.rodape-img-container {
    width: 100%;
    height: auto;
}

/* RODAPÉ */

.separacao1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--azul-escuro);
    padding: 5px;
    color: var(--branco);
    font-size: x-large;
    font-weight: bold;
}

.separacao1 p {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 5px;
}

.redes i {
    color: var(--branco);
    font-size: 40px;
    margin: 10px;
    transition: 0.3s;
}

.redes a {
    text-decoration: none;
}

.redes i:hover {
    color: #06005c;
}

.inter {
    background-color: var(--escuro);
}

.rodape-inter {
    background-color: var(--escuro);
    color: var(--branco);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.rodape2-inter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_rodape {
    display: flex;
    justify-content: center;
    height: 75px;
}

.linha {
    background-color: var(--azul-escuro);
    padding: 3px;
    border-radius: 5px;
}

.display {
    display: flex;
}

.text {
    font-size: large;
    margin-top: 10px;
}

.icons {
    margin-top: 17px;
    margin-right: 5px;
}

body img {
    width: 110px;
    height: 80px;
}

.informacoes {
    padding: 10px;
    font-size: large;
    font-weight: bold;
    margin-bottom: -7px;
}

.localizacao {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.as {
    display: flex;
    justify-content: space-evenly;
}

.as a {
    color: rgb(194, 255, 235);
    text-decoration: none;
    padding-bottom: 30px;
}

.bemvindo {
    background-color: var(--azul-escuro);
    padding: 20px;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 73px;
    margin-right: 73px;
    border-radius: 7px;
}

.nomeUsuario {
    color: rgb(194, 255, 235);
    margin-left: 5px;
}

.span {
    color: var(--branco);
}

footer {
    margin-top: 50px;
}

.btn-catalogo {
    display: flex;
    align-items: center;
}

p {
    margin-bottom: 0rem;
}

@media (max-width: 769px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2px 20px;
    }

    .header-left img {
        width: 40px;
        /* Ajuste no tamanho do logo */
    }

    .header-center {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }

    .search-container {
        width: 300px;
        /* Reduzindo a largura da pesquisa */
        padding: 5px 10px;
        border-radius: 20px;
    }

    .search-box {
        font-size: 14px;
    }

    .header-right {
        display: flex;
        align-items: center;
    }

    .switch-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .menu-container {
        margin-bottom: 15px;
    }

    .menu-icon {
        width: 30px;
        height: 24px;
    }

    .header-end {
        margin-bottom: -1px;
    }

    .menu-icon div {
        height: 4px;
        background-color: #fff;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pai1 {
        border: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .foto-livro {
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .search-container {
        width: 120px;
        /* Ajuste fino para telas muito pequenas */
    }

    .switch-container {
        font-size: 10px;
    }

    .menu-icon {
        width: 25px;
    }

    .pai2 {
        display: flex;
        flex-direction: column;
    }

    .pai {
        flex-direction: column;
    }

    .pai3 {
        margin-top: -85px;
    }

    .foto-livro {
        margin-left: 20px;
    }

    .pai1 {
        gap: 50px;
    }

    .catalogo p {
        display: none;
    }

}

@media (max-width: 321px) {
    .model_info {
        flex-direction: column;
    }

    .pai2 {
        margin-left: -15px;
    }
}


@media (max-width: 480px) {

    .logo_rodape {
        display: none;
    }

    .wrapper .icon {
        width: 30px;
        height: 30px;
    }

    .wrapper .icon svg {
        width: 14px;
        height: 14px;
    }

    .rodape-inter {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .as {
        font-size: 11px;
    }

    .linha {
        padding: 2px;
    }

    .search-container {
        width: 200px;
    }

    .menu-icon {
        width: 25px;
    }

    .localizacao {
        width: 1%;
    }

    .rodape-inter {
        font-size: 14px;
    }

    .rodape2-inter {
        align-items: center;
    }

    .localizacao {
        font-size: 0px;
        text-align: center;
        flex-direction: column;
    }

    .separacao1 p {
        margin-top: 10px;
        font-size: 15px;
    }

    .redes i {
        font-size: 24px;
        margin: 5px;
    }

    .imagem {
        display: none;
    }
}

@media (max-width: 380px) {

    .logo_rodape {
        display: none;
    }

    .rodape-inter {
        justify-content: center;
    }

    .separacao1 {
        flex-direction: column;
        align-items: center;
    }

    .separacao1 p {
        margin: 0px;
    }

    .informacoes {
        text-align: center;
    }

    .display {
        justify-content: center;
    }

    .nomeUsuario {
        font-size: 15px
    }

    .span {
        font-size: 15px
    }
}

@media (max-width: 330px) {
    .search-container {
        width: 120px;
    }
}